@font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/inter.woff2') format('woff2'),
}

body {
    background-color: #121212;
    color: #f5f5f7;
    font-family: 'Inter', 'Lexend Deca';
}

#link {
    color: grey;
    margin-right: 20px;
}

#link-active {
    color: #f5f5f7;
    margin-right: 20px;
}

#link:hover {
    color: #f5f5f7;
}

#navbarNav {
    margin-left: 55%;
    margin-top: 1%;
}

.navbar-toggler{
    color: white;
}

.main-body{
    margin-top: 10rem;
}

.main-body h1{
    font-weight: 800;
    font-size: 7rem;
}

.main-body h2{
    font-weight: 600;
    font-size: 1.5rem;
    color: grey;
}


#register-button {
    background-color: #121212;
    border-style: solid;
    border-width: 1.5px;
    border-color: white;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

#register-button:hover {
    background-color: white;
    color: #121212;
}

button:hover {
    cursor: pointer;
} 

.indi-reg{
    margin-left: 0.2rem;
    text-align: right;
}

footer a{
    color: white;
}

footer a:hover{
    color: grey;
    text-decoration: none;
}

.school-reg{
    margin-left: -1rem;
}

.about-body .container {
    color: white;
    margin-top: 7%;
    margin-left: -0%;
    width: 60%;
}

.about-body .container h1{
    font-weight: 700;
    font-size: 3rem;
    text-align: left;
}

.about-body .container h2{
    font-weight: 400;
    font-size: 1.1rem;
    margin-top: 2%;
    text-align: left;
    color: grey;
}

.cp-head {
    margin-top: 3.5rem;
    font-weight: 700;
    font-size: 2.75em;
}

.cp-para {
    font-weight: 400;
    font-size: 1.1rem;
    margin-top: 2%;
    color: grey;
}

.cp-image-box{
    padding-top: 5%;
    padding-bottom: 5%;
}

.inline {
    display: flex;
    flex-flow: row wrap;
    align-items: left;
}

.logo {
    margin: auto;
    margin-top: 5%;
}

.about-body .schedule-container {
    color: white;
    margin-top: 10%;
    margin-left: -0%;
    width: 100%;
    text-align: center;
}

.about-body .schedule-container h1{
    font-weight: 700;
    font-size: 3rem;
    text-align: left;
}

.schedule-container img {
    height: 400px;
    width: 90%;
    margin-bottom: 5rem;
}

.about-body .team-container {
    color: white;
    margin-top: 10%;
    margin-left: 1%;
    width: 100%;
    text-align: center;
}

.about-body .team-container h1{
    font-weight: 700;
    font-size: 3rem;
    text-align: left;
}

.team-grid {
    width: 110%;
    display: flex;
    flex-flow: row wrap;
    align-items: left;
}

.member-card {
    width: 250px;
    height: 320px;
    border-radius: 10px;
    background-color: black;
    margin-right: 40px;
    margin-bottom: 30px;
}

.member-card img {
    width: 250px;
    height: 240px;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.member-card h2 {
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: 10px;
    text-align: left;
    padding-left: 15px;
    font-family: 'Inter', 'Lexend Deca';
}

.member-card h3 {
    padding-left: 15px;
    text-align: left;
    font-size: 1rem;
    color: grey;
}

.container button{
    width: 80px;
    height: 35px;
    background-color:white;
    color: #121212;
    font-size: 0.9rem;
    border: none;
    border-radius: 5px;
    margin-right: 25px;
    border-width: 1px;
}

button:focus {
    outline: none;
}

.event-card {
    width: 400px;
    height: 290px;
    border-style: solid;
    border-color: grey;
    border-width: 1.5px;
    margin-right: 40px;
    margin-bottom: 30px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
}

.event-card h2 {
    font-size: 1.7rem;
    font-weight: 600;
    text-align: left;
    font-family: 'Inter', 'Lexend Deca';
}

.event-card h3 {
    text-align: left;
    font-size: 1rem;
    color: grey;
    margin-top: 20px;
}

.event-card button{
    width: 90px;
    height: 35px;
    background-color:white;
    color: #121212;
    font-size: 0.9rem;
    border: none;
    border-radius: 5px;
    margin-right: 25px;
    border-width: 1px;
}

form input {
    height: 50px;
    width: 300px;
    background-color: #252729;
    color: #fefefe;
    font-size: 1rem;
    padding-left: 20px;
    border: none;
    border-radius: 5px;
}

form textarea {
    height: 100px;
    width: 300px;
    background-color: #252729;
    color: #fefefe;
    font-size: 1rem;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    border: none;
    border-radius: 5px;
}

form textarea:focus {
    outline: none;
}

form input:focus {
    outline: none;
}

#contact-cont{
    margin-top: 6rem;
}

#contact-head{
    font-family: 'Inter', 'Lexend Deca';
    font-weight: 700;
}

@media(max-width: 576px){
    .main-body h1{
        font-weight: 800;
        font-size: 3.5rem;
    }

    .main-body h2{
        font-size: 1.1rem;
    }

    .school-reg{
        margin-left: 0%;
        text-align: center;
    }

    .indi-reg{
        margin-left: 0%;
        margin-bottom: 1rem;
        text-align: center;
    }

    .main-body{
        margin-top: 4rem;
    }
    
    footer{
        bottom: 5rem;
    }
    #navbarNav {
        margin-left: 0%;
        margin-top: 1%;
    }
}