@font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/inter.woff2') format('woff2'),
}

body {
    background-color: #121212;
    color: #f5f5f7;
    font-family: 'Inter', 'Lexend Deca';
}

#link {
    color: grey;
    margin-right: 20px;
}

#link-active {
    color: #f5f5f7;
    margin-right: 20px;
}

#link:hover {
    color: #f5f5f7;
}

.nav-logo{
    margin-left: 18rem;
}

.navbar-nav{
    margin-left: auto;
    margin-right: 13rem;
}

.navbar-toggler{
    color: white;
}

.main-body{
    margin-top: 10rem;
}

.main-body h1{
    font-weight: 800;
    font-size: 7rem;
}

.main-body h2{
    font-weight: 600;
    font-size: 1.5rem;
    color: grey;
}


#register-button {
    background-color: #121212;
    border-style: solid;
    border-width: 1.5px;
    border-color: white;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

#register-button:hover {
    background-color: white;
    color: #121212;
}

button:hover {
    cursor: pointer;
} 


.indi-reg{
    margin-left: 0.2rem;
    text-align: right;
}

.help a{
    color: white;
}

.help a:hover{
    color: grey;
    text-decoration: none;
}

footer{
    position: fixed;
    bottom: 0%;
    width: 100%;
    text-align: center;
}

.school-reg{
    margin-left: -1rem;
}


.about-head{
    font-weight: 700;
    font-size: 3em;
}

.btns{
    margin-top: -3rem;
}

.cp-head {
    margin-top: 3.5rem;
    font-weight: 700;
    font-size: 3em;
    margin-right: 5.5rem;
}

.cp-para {
    font-weight: 400;
    font-size: 1.1rem;
    margin-top: 2%;
    color: grey;
}

.cp-image-box{
    padding-bottom: 5%;
}

.cp-image-box img{
    height: 25rem;
}


.logo {
    margin: auto;
    margin-top: 5%;
}

.team-head{
    font-weight: 700;
    font-size: 3em;
    margin-left: 4rem;
    margin-bottom: 3rem;
}


.center{
    margin-left: -4rem;
    margin-right: -4rem;
}

.card-head{
    font-size: 1.5rem;
    font-weight: 600;
}

.card-desig{
    font-size: 1rem;
    color: grey;
}

.card-body{
    background-color: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card-subtitle{
    margin-bottom: -0.4rem;
}

.card-title{
    margin-top: -0.4rem;
}

.card-img-top{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card{
    background-color: black;
    border-radius: 10px;
}

button:focus {
    outline: none;
}

.event-row{
    padding-left: 8rem;
}

.event-head{
    margin-left: 8.5rem;
}

#new-event-card{
    height: 18rem;
}

#new-event-card .card-body{
    height: 18rem;
    border-radius: 10px;
}


#new-event-card .card-title{
    font-size: 1.7rem;
    font-weight: 600;
    font-family: 'Inter', 'Lexend Deca';
}

#new-event-card .card-text{
    font-size: 1rem;
    color: grey;
}


.card-footer{
    margin-left: -1.1rem;
}


form input {
    height: 50px;
    width: 300px;
    background-color: #252729;
    color: #fefefe;
    font-size: 1rem;
    padding-left: 20px;
    border: none;
    border-radius: 5px;
}

form textarea {
    height: 100px;
    width: 300px;
    background-color: #252729;
    color: #fefefe;
    font-size: 1rem;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    border: none;
    border-radius: 5px;
}

form textarea:focus {
    outline: none;
}

form input:focus {
    outline: none;
}

.send:hover{
    background-color: grey;
    color: white;
}

#contact-cont{
    margin-top: 6rem;
}

#contact-head{
    font-family: 'Inter', 'Lexend Deca';
    font-weight: 700;
}

#contact-svg img{
    height: 20rem;
}

@media(max-width: 576px){
    .main-body h1{
        font-weight: 800;
        font-size: 3.5rem;
    }

    .main-body h2{
        font-size: 1.1rem;
    }

    .school-reg{
        margin-left: 0%;
        text-align: center;
    }

    .indi-reg{
        margin-left: 0%;
        margin-bottom: 1rem;
        text-align: center;
    }

    .main-body{
        margin-top: 4rem;
    }
    

    #navbarNav {
        margin-left: 0%;
        margin-top: 1%;
    }


    .nav-logo{
        margin-left: 0%;
    }

    .center{
        margin-left: 0rem;
        margin-right: 0rem;
    }

    .card{
        margin: auto;
    }

    .cp-image-box img{
        height: 23rem;
    }

    .cp-image-box{
        padding-bottom: 0%;
        margin-bottom: 3rem;
    }

    #contact-svg img{
        height: 12rem;
    }

    .about-svg{
        display: none;
    }

    .btns{
        margin-top: 0rem;
    }

    .event-row{
        padding-left: 0rem;
    }

    #new-event-card{
        height: 21rem;
    }

    .card-footer{
        margin-left: 0rem;
    }

    .event-head{
        margin-left: 0%;
    }

    #contact-cont{
        margin-top: 2rem;
    }

    .team-head{
        font-weight: 700;
        font-size: 3em;
        margin-left: 0rem;
        margin-bottom: 2rem;
    }
}